<%- include('includes/head.ejs', { title: '404 Not found' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Resource not found!</h1>
    <p>Resource not found!</p>
  </main>
</body>
</html>