*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
li {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
nav {
  height: 10vh;
  background-color: #5b78c7;
}
.nav-links {
  /* float: right; */
  margin-left: auto;
  display: flex;
  width: 50%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  pointer-events:none;
}

@media (max-width: 768px) {
  nav {
    position: relative;
  }
  .hamburger {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .nav-links {
    position: fixed;
    background-color: #5b78c7;
    height: 50%;
    width: 100%;
    /* display: none; */
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1s ease-in-out;
    pointer-events: all;
  }
}
.nav-links.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
}
.nav-links li{
    opacity: 0;
}
.nav-links li a{
    font-size: 25px;
}

.nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s ;
    transition-delay: 0.5s;
}
.nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s ;
    transition-delay: 0.5s;
    
}
.nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
    transition-delay: 0.5s;
    
}

.nav-links li.fade{
    opacity: 1;
}
