/* Base styles & resets */

html {
  font-family: "Roboto Slab", serif;
  color: rgb(46, 45, 48);
}

body {
  margin: 0;
}

main {
  width: 85%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color: rgb(70, 0, 128);
  transition: all 0.6s;
}

a:hover,
a:active {
  color: rgb(113, 0, 128);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global components */

.btn {
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(70, 0, 128);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: 0.4s;
}

.btn:hover,
.btn:active {
  background-color: rgb(113, 0, 128);

  color: white;
}

.btn.btn-alt {
  background-color: transparent;
  border: none;
  color: rgb(70, 0, 128);
  transition: 0.5s;
}

.btn.btn-alt:hover,
.btn.btn-alt:active {
  background-color: rgb(231, 212, 246);
}

/* Site-wide content / elements */

#main-header {
  position: sticky;
  top: 0;
  padding: 2rem 10%;
  background-color: rgb(70, 0, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

#logo a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
}

#main-header ul {
  display: flex;
}

#main-header li {
  margin-left: 2rem;
}

#main-header button {
  font: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(70, 0, 128);
  background-color: white;
  border-radius: 0.25rem;
  padding-inline: 0.3rem;
  transition: all 0.4s;
}

#main-header button:is(:active, :hover) {
  background-color: rgb(70, 0, 128);
  color: white;
}

#main-header a:hover,
#main-header a:active {
  color: rgb(209, 88, 233);
}

#main-header nav a {
  color: white;
  font-size: 1.2rem;
}

main#errorpage-main {
  margin-top: calc(100vh - 75vh);
  text-align: center;
}

#aside div{
  width: 2rem;
  height: 0.28rem;
  background-color: white;
  margin: 0.2rem;
  border-radius: 0.25rem;
}
#aside{
  cursor: pointer;
  display: none;
  flex-direction: column;
}

@media(max-width:48rem){
 
  #main-header nav{
    display: none;
  }

  #aside{
    display: flex;
  }

  #main-header nav.open{
    display: block;
    position: fixed;
    top: 12vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(70, 0, 128);
  }
  #main-header nav.open .nav-items{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: space-evenly;
  }

}

