<header id="main-header">
  <div id="logo">
    <a href="/">Blog</a>
  </div>
  <nav>
    <%- include("nav-items") %>
  </nav>
  <div id="aside">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>


