<%- include("includes/head", {pageTitle:"An Error Occured!"}) %>
<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/auth.css">
</head>
<body>
    <%- include("includes/header") %> 
<main>
<h1>Not authorized!</h1>
<p>You are not authorized!</p>
<p><a class="btn" href="/">Back to Safety!</a></p>
</main>
<%- include("includes/footer") %> 