<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Not authenticated' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main id="errorpage-main">
    <h1>Not authenticated!</h1>
    <p>You are not  authenticated to access this resource!</p>
    <a class="btn" href="/">Read Our Blogs</a>
  </main>
</body>

</html>