<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head', { title: 'Analytics' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>
  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>
        Analytics
      </h1>
      <p id="input-error"></p>
    </main>
  </body>
</html>
